body {
    width: 1000px;
    margin: 0 auto;
}
h4 {
    text-align: center;
}
div {
    margin: 20px 0;
    padding: 10px;
    border-bottom: 5px solid #bfbfbf;
    background-color: #d9d9d9;
}
a {
    text-decoration: none;
    color: #333;
}
a:hover, a:active {
    text-decoration: underline;
}
form {
    margin-top: 20px;
}
textarea {
    width: 1000px;
    height: 75px;
}
input {
    margin-top: 10px;
}