<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Домашнее задание 7</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<h4>Гостевая книга</h4>

<?php
foreach ($this->data['GuestBook']->getData() as $record){
    $line = new View();
    $line->assign('Record', $record)->display(__DIR__ . '/GuestBookRecord.html');
}
?>

<form action="/send.php" method="post">
    <textarea name="message"></textarea>
    <input type="submit" value="Отправить">
</form>
</body>
</html>