</div><!-- blockRight -->
</div><!-- container -->
<div class="footer">
    <div class="container clearfix">
        <div class="description left">
            <div class="title">Персональный сайт студента Василия Пупкина</div>
            <p>Вы находитесь на сайте начинающего банкира Василия Алибабаевича Пупкина.</p>
            <p>Мне очень приятно видеть Вас!</p>
            <p>Надеюсь, что представленная обо мне информация будет интересна и полезна не только экономистам, руководителям и бизнесменам, но и простым обывателям, молодым людям, а также юным читателям.</p>
            <p>Желаю приятного и полезного проведения времени на страницах моего сайта!</p>
            <p>Буду благодарен за Ваши отзывы.</p>
        </div><!-- description -->
        <div class="social right">
            <div class="title">Социальные сети</div>
            <p>Связаться со мной Вы можете по телефону, либо в социальных сетях на Ваш выбор.</p>
            <p>Я обязательно отвечу на Ваше сообщение как только увижу его.</p>
            <div class="share">
                <a class="button social-vk" href="https://vk.com/andrewmw" target="_blank"></a>
                <a class="button social-fb" href="https://www.facebook.com/people/Andrew-Med/100014421914208" target="_blank"></a>
                <a class="button social-tw" href="https://twitter.com/andrewmw77" target="_blank"></a>
            </div><!-- share -->
        </div><!-- social -->
        <div class="contacts right">
            <div class="title">Мой адрес</div>
            <div class="item">
                <div class="icon icon-location"></div>
                Россия, Новосибирск,<br>
                Красный проспект, дом 1
            </div><!-- item -->
            <div class="item">
                <div class="icon icon-phone"></div>
                +7 (383) 555-33-22
            </div><!-- item -->
            <div class="item">
                <div class="icon icon-email"></div>
                <a href="mailto:359747@mail.ru">359747@mail.ru</a>
            </div><!-- item -->
        </div><!-- contacts -->
    </div><!-- container -->
    <div class="container">
        <hr>
        <div class="copyright"><a href="/admin">Администрирование</a></div>
    </div><!-- container -->
</div><!-- footer -->

</body>
</html>