<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Персональный сайт</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css" />
</head>
<body>

<div class="container clearfix">
    <div class="blockLeft left">
        <div class="sidebar-menu">
            <div class="logo-wrapper">
                <h1 class="logo">
                    <a href="/">
                        <img src="/images/logo.png" alt="Circle Template">
                        <span>Персональный сайт</span>
                    </a>
                </h1>
            </div> <!-- logo-wrapper -->
            <div class="menu-wrapper">
                <ul class="menu">
                    <li><a href="/">Обо мне</a></li>
                    <li><a href="/gallery.php">Фотогалерея</a></li>
                    <li><a href="/guestbook.php">Гостевая книга</a></li>
                </ul> <!-- menu -->
            </div> <!-- menu-wrapper -->
        </div> <!-- sidebar-menu -->
    </div><!-- blockLeft -->
    <div class="blockRight right">
        <div class="clearfix">
            <div class="about left"><a href="/"></a></div>
            <div class="photo left"><a href="/gallery.php"></a></div>
            <div class="book right"><a href="/guestbook.php"></a></div>
        </div>