table {
    margin-bottom: 10px;
    border-collapse: collapse;
}
th, td {
    text-align: center;
    padding: 10px;
}
.boolean, .boolean th, .boolean td {
    border: 1px solid #000000;
}
.discriminant td {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
.radix {
    border-top: solid 1px black;
}
.result {
    font-weight: bold;
}
